# App
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_ACTIVE_CHAIN=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=

# ThirdWeb
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
NEXT_PUBLIC_THIRDWEB_SECRET_KEY=

# Unreal
NEXT_PUBLIC_UNREAL_OPENAI_ADDRESS=
NEXT_PUBLIC_UNREAL_CALLS_INITIAL=
NEXT_PUBLIC_UNREAL_EXPIRY_SECONDS=
UNREAL_API_URL=

# Treasury wallet
TREASURY_PRIVATE_KEY=
